@model UserTripWrapperModel

@{
    ViewBag.Title = "Register Trip";
}
<div class="flexColumn center-page bordering p-4">
    @if (ViewBag.Errors is not null)
    {
        <p class="text-red text-largeBolded">@ViewBag.Errors</p>
        <a class="btn btn-outline-dark" asp-controller="Home" asp-action="Index" role="button">Go to Home</a>
    }
    else
    {
      

        {
            await Html.RenderPartialAsync(partialViewName: "_ReservationPartialView", model: Model);
        }
        <form asp-controller="Trips" asp-action="RegisterPostTrip" asp-area="" method="post">
            <input type="hidden" name="UserId" value="@Model.TheUserDTO.UserId" />
            <input type="hidden" name="TripId" value="@Model.TheTripResponse.Id" />
            <input type="hidden" name="ReservationTime" value="@(DateTime.Now)" />

            @if (ViewBag.Errors != null)
            {
                <div class="text-red m-2">
                    <span>@ViewBag.Errors</span>
                </div>
            }
            <div class="flexRow center-page">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-outline-dark" asp-controller="Trips" asp-action="UpcomingTrips" asp-area="" role="button">Cancel</a>
            </div>

        </form>
    }
</div>


